# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# Python environment files
.env
*.env

# Reports generated locally
backend/reports/*.pdf

# Node
node_modules/
frontend/node_modules/

# Frontend build
dist/
build/

# Vite
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp